node_modules

.env
.git

dist
docs
scripts
src
test
testServer
types

api-extractor.json
docs.json
esbuild.config.js
jest-puppeteer.config.cjs
jest.config.ts
jest.setup.js
jest.teardown.js
jest.setup.ts
jest.teardown.ts
tsConfig.json
tsConfig.build.json
tsdoc-metadata.json